body {
    color: #666;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4, .01, .165, .99);
    transition: transform .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
}

body,
html {
    height: 100%;
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0
}

a,
a:hover {
    color: #2479CC;
    text-decoration: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul,
ol {
    padding: 0
}

body.side {
    position: fixed;
    -webkit-transform: translate3D(250px, 0, 0);
    -ms-transform: translate3D(250px, 0, 0);
    transform: translate3D(250px, 0, 0)
}

h1.intro {
    background-color: #f6f9fa;
    color: #999;
    padding: 20px 30px;
    text-align: center
}

#main {
    background-color: #fff;
    max-width: 1390px;
    -webkit-overflow-scrolling: touch;
    padding-left: 290px;
    padding-right: 40px
}

@font-face {
    font-family: iconfont;
    src: url(/theme/firekylin/res/font/iconfont.eot);
    src: url(/theme/firekylin/res/font/iconfont.eot?#iefix) format("embedded-opentype"), url(/theme/firekylin/res/font/iconfont.ttf?v=b203e.ttf) format("truetype"), url(/theme/firekylin/res/font/iconfont.svg?v=7ed74.svg) format("svg");
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-width: .2px
}

.hljs {
    background: white;
    color: #333;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    -webkit-text-size-adjust: none
}

.icon-weibo:before {
    content: "\e600"
}

.icon-archive:before {
    content: "\e601"
}

.icon-user:before {
    content: "\e602"
}

.icon-rss-v:before {
    content: "\e603"
}

.icon-tags:before {
    content: "\e604"
}

.icon-home:before {
    content: "\e605"
}

.icon-search:before {
    content: "\e606"
}

.icon-googleplus:before {
    content: "\e607"
}

.icon-weixin:before {
    content: "\e608"
}

.icon-mail:before {
    content: "\e609"
}

.icon-twitter-v:before {
    content: "\e60a"
}

.icon-linkedin:before {
    content: "\e60b"
}

.icon-stackoverflow:before {
    content: "\e60c"
}

.icon-github-v:before {
    content: "\e60d"
}

.icon-facebook:before {
    content: "\e60e"
}

.icon-right:before {
    content: "\e60f"
}

.icon-left:before {
    content: "\e610"
}

.icon-link:before {
    content: "\e611"
}

.icon-https:before {
    content: "\e612"
}

.hljs-comment,
.bash .hljs-shebang,
.java .hljs-javadoc,
.javascript .hljs-javadoc,
.rust .hljs-preprocessor {
    color: #969896
}

.hljs-string,
.apache .hljs-sqbracket,
.coffeescript .hljs-subst,
.coffeescript .hljs-regexp,
.cpp .hljs-preprocessor,
.c .hljs-preprocessor,
.javascript .hljs-regexp,
.json .hljs-attribute,
.makefile .hljs-variable,
.markdown .hljs-value,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-emphasis,
.markdown .hljs-blockquote,
.nginx .hljs-regexp,
.nginx .hljs-number,
.objectivec .hljs-preprocessor .hljs-title,
.perl .hljs-regexp,
.php .hljs-regexp,
.xml .hljs-value,
.less .hljs-built_in,
.scss .hljs-built_in {
    color: #df5000
}

.hljs-keyword,
.css .hljs-at_rule,
.css .hljs-important,
.http .hljs-request,
.ini .hljs-setting,
.haskell .hljs-type,
.java .hljs-javadoctag,
.javascript .hljs-tag,
.javascript .hljs-javadoctag,
.nginx .hljs-title,
.objectivec .hljs-preprocessor,
.php .hljs-phpdoc,
.sql .hljs-built_in,
.less .hljs-tag,
.less .hljs-at_rule,
.scss .hljs-tag,
.scss .hljs-at_rule,
.scss .hljs-important,
.stylus .hljs-at_rule,
.go .hljs-typename,
.swift .hljs-preprocessor {
    color: #a71d5d
}

.apache .hljs-common,
.apache .hljs-cbracket,
.apache .hljs-keyword,
.bash .hljs-literal,
.bash .hljs-built_in,
.coffeescript .hljs-literal,
.coffeescript .hljs-built_in,
.coffeescript .hljs-number,
.cpp .hljs-number,
.cpp .hljs-built_in,
.c .hljs-number,
.c .hljs-built_in,
.cs .hljs-number,
.cs .hljs-built_in,
.css .hljs-attribute,
.css .hljs-hexcolor,
.css .hljs-number,
.css .hljs-function,
.haskell .hljs-number,
.http .hljs-literal,
.http .hljs-attribute,
.java .hljs-number,
.javascript .hljs-built_in,
.javascript .hljs-literal,
.javascript .hljs-number,
.json .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.nginx .hljs-built_in,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.objectivec .hljs-built_in,
.php .hljs-literal,
.php .hljs-number,
.python .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-constant,
.ruby .hljs-number,
.ruby .hljs-subst .hljs-keyword,
.ruby .hljs-symbol,
.rust .hljs-number,
.sql .hljs-number,
.puppet .hljs-function,
.less .hljs-number,
.less .hljs-hexcolor,
.less .hljs-function,
.less .hljs-attribute,
.scss .hljs-preprocessor,
.scss .hljs-number,
.scss .hljs-hexcolor,
.scss .hljs-function,
.scss .hljs-attribute,
.stylus .hljs-number,
.stylus .hljs-hexcolor,
.stylus .hljs-attribute,
.stylus .hljs-params,
.go .hljs-built_in,
.go .hljs-constant,
.swift .hljs-built_in,
.swift .hljs-number {
    color: #0086b3
}

.apache .hljs-tag,
.cs .hljs-xmlDocTag,
.css .hljs-tag,
.xml .hljs-title,
.stylus .hljs-tag {
    color: #63a35c
}

.bash .hljs-variable,
.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.css .hljs-attr_selector,
.css .hljs-value,
.ini .hljs-value,
.ini .hljs-keyword,
.javascript .hljs-tag .hljs-title,
.makefile .hljs-constant,
.nginx .hljs-variable,
.xml .hljs-tag,
.scss .hljs-variable {
    color: #333
}

.bash .hljs-title,
.coffeescript .hljs-title,
.cpp .hljs-title,
.c .hljs-title,
.cs .hljs-title,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo,
.ini .hljs-title,
.haskell .hljs-title,
.haskell .hljs-pragma,
.java .hljs-title,
.javascript .hljs-title,
.makefile .hljs-title,
.objectivec .hljs-title,
.perl .hljs-sub,
.php .hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-title,
.rust .hljs-title,
.xml .hljs-attribute,
.puppet .hljs-title,
.less .hljs-id,
.less .hljs-pseudo,
.less .hljs-class,
.scss .hljs-id,
.scss .hljs-pseudo,
.scss .hljs-class,
.stylus .hljs-class,
.stylus .hljs-id,
.stylus .hljs-pseudo,
.stylus .hljs-title,
.swift .hljs-title,
.diff .hljs-chunk {
    color: #795da3
}

.coffeescript .hljs-reserved,
.coffeescript .hljs-attribute {
    color: #1d3e81
}

.diff .hljs-chunk {
    font-weight: 700
}

.diff .hljs-addition {
    background-color: #eaffea;
    color: #55a532
}

.diff .hljs-deletion {
    background-color: #ffecec;
    color: #bd2c00
}

.markdown .hljs-link_url {
    text-decoration: underline
}

#sidebar {
    background-color: #202020;
    height: 100%;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1
}

#sidebar-mask {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
    z-index: 999
}

#sidebar-mask,
#header {
    left: 0;
    overflow: hidden;
    top: 0
}

#header {
    display: none;
    background-color: #323436;
    height: 50px;
    line-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9
}

#sidebar li,
#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#header h1 {
    font-size: 16px;
    text-align: center
}

#header h1 a {
    color: #999
}

#sidebar .profile {
    padding-top: 40px;
    padding-bottom: 10px
}

#sidebar .buttons {
    margin: 0 0 20px
}

#header .btn-bar {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px
}

#sidebar .profile a,
#sidebar .profile img {
    border-radius: 70px;
    height: 140px;
    overflow: hidden;
    width: 140px
}

#sidebar .profile a {
    display: block;
    margin: 0 auto
}

#sidebar .profile span {
    color: #999;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    text-align: center
}

#sidebar .buttons li {
    display: block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    width: 100%
}

#sidebar .buttons li a {
    color: #999;
    display: block;
    padding-left: 25px;
    text-decoration: none;
    -webkit-transition: color .2s cubic-bezier(.4, .01, .165, .99);
    transition: color .2s cubic-bezier(.4, .01, .165, .99)
}

#sidebar .buttons li a i,
#sidebar .buttons li a span {
    display: inline-block;
    vertical-align: middle
}

#sidebar .buttons li a i {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
    text-align: center;
    width: 25px
}

#sidebar .buttons li a:hover {
    color: rgba(153, 153, 153, .8)
}

#sidebar .buttons li a.inline {
    display: inline-block;
    width: 40px
}

body.side #header .btn-bar i {
    opacity: 0
}

body.side #header .btn-bar:before {
    top: 25px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 24px
}

body.side #header .btn-bar:after {
    bottom: 24px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24px
}

#header .btn-bar i,
#header .btn-bar:after,
#header .btn-bar:before {
    background-color: #999;
    height: 1px;
    left: 14px;
    position: absolute;
    -webkit-transition: all .2s cubic-bezier(.4, .01, .165, .99) .3s;
    transition: all .2s cubic-bezier(.4, .01, .165, .99) .3s;
    width: 22px
}

#header .btn-bar i {
    opacity: 1;
    top: 25px
}

#header .btn-bar:before {
    content: '';
    top: 17px
}

#header .btn-bar:after {
    bottom: 16px;
    content: ''
}

#header a.me,
#header a.me img {
    border-radius: 30px;
    height: 30px;
    overflow: hidden;
    width: 30px
}

article {
    padding: 30px 0;
    word-wrap: break-word
}

article,
.pagination {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative
}

.pagination {
    line-height: 20px;
    overflow: hidden;
    padding: 20px 0;
    width: 100%
}

article .meta {
    color: #555;
    float: right;
    font-size: .9em;
    line-height: 2;
    position: relative;
    text-align: right;
    width: auto
}

article .meta a {
    color: #999
}

article h1.title {
    font-size: 2em;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 25px
}

article h1.title,
article h1.title a {
    color: #333
}

.pagination .prev {
    float: left
}

.pagination .next {
    float: right
}

.pagination .center {
    margin: auto;
    text-align: center;
    width: 80px
}

article .meta .date,
article .meta .comment,
article .meta .tags {
    position: relative
}

article h1.title a:hover {
    color: #2479CC;
    transition: color .3s
}

#header a.me {
    position: absolute;
    right: 10px;
    top: 10px
}

article button,
article input.runcode {
    -webkit-appearance: button;
    background: #12b0e6;
    border: none;
    box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
    padding: 0.625em .5em
}

article strong {
    font-weight: 700
}

article em {
    font-style: italic
}

article blockquote {
    background-color: #f8f8f8;
    border-left: 5px solid #2479CC;
    margin-top: 10px;
    margin-left: 0;
    padding: 15px 20px
}

article code {
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: "Consolas", "Courier New", Courier, mono, serif;
    font-size: 80%;
    margin: 0 2px;
    padding: 4px 5px;
    vertical-align: middle
}

article pre {
    border-left: 5px solid #ccc;
    color: #5d6a6a;
    font-family: "Consolas", "Liberation Mono", Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    padding: 0.6em;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word
}

article img {
    border: 1px solid #ccc;
    display: block;
    margin: 10px 0 5px;
    max-width: 100%;
    padding: 0
}

article table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

article blockquote p {
    margin-bottom: 0
}

article pre code {
    background-color: transparent;
    border-radius: 0 0 0 0;
    border: 0;
    display: block;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative
}

article table th,
article table td {
    border: 0
}

article table th {
    border-bottom: 2px solid #848484;
    padding: 6px 20px;
    text-align: left
}

article table td {
    border-bottom: 1px solid #d0d0d0;
    padding: 6px 20px
}

article .expire-tips {
    background-color: #ffffc0;
    border: 1px solid #e2e2e2;
    border-left: 5px solid #fff000;
    color: #333;
    font-size: 15px;
    padding: 5px 10px
}

article .aliyun-tips {
    background-color: #f0f8f4;
    border: 1px solid #e2e2e2;
    border-left: 5px solid #7cc4a0;
    font-size: 15px;
    padding: 5px 10px
}

article .post-info {
    font-size: 14px
}

article .entry-content {
    font-size: 16px;
    line-height: 1.8;
    word-wrap: break-word
}

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p,
article .entry-content pre {
    margin-top: 15px
}

article pre b.name {
    color: #eee;
    font-size: 60px;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px
}

article .entry-content .date {
    color: #999;
    font-size: 14px;
    font-style: italic
}

article input.runcode:hover,
article input.runcode:focus,
article input.runcode:active {
    background: #f6ad08
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
    margin-top: 0
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
    margin-left: 25px
}

article.tags section a {
    border: 1px solid rgba(36, 121, 204, .8);
    border-radius: 4px;
    color: rgba(36, 121, 204, .8);
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0 15px 10px 0;
    padding: 0 15px;
    text-decoration: none;
    -webkit-transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99);
    transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99)
}

article.tags section a:hover {
    border-color: #2479CC;
    color: #2479CC
}

#searchResult {
    min-height: 350px;
    overflow-x: hidden
}

#footer {
    font-size: .9em;
    line-height: 1.8;
    padding: 15px;
    text-align: center
}

#footer,
#comments {
    border-top: 1px solid #fff
}

#comments {
    border-bottom: 1px solid #ddd;
    min-height: 350px;
    padding: 30px 0
}

#search form {
    position: relative
}

#search .wrapper {
    margin-right: 72px
}

#search .submit {
    -webkit-appearance: none;
    background-color: #e7e7e7;
    border: 1px solid #bbb;
    border-left: 0;
    border-radius: 0;
    color: #222;
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px
}

#searchResult .info {
    border-bottom: 1px solid #e9e9e9;
    color: #676767;
    font-size: 13px;
    padding: 15px 0
}

#searchResult .no-result {
    background-color: #fff4c2;
    border: 1px solid #fc3;
    font-size: 13px;
    margin: 15px 0;
    padding: 5px
}

#searchResult .loading,
#searchResult .hot-words {
    margin-top: 20px
}

#searchResult .item {
    padding: .5em 0 .3em
}

#footer .beian {
    color: #666
}

#search .wrapper input {
    -webkit-appearance: none;
    border: 1px solid #bbb;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 4px 6px;
    width: 100%
}

#searchResult .hot-words a {
    margin-right: 20px
}

#comments h1.title {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px
}

#searchResult .item .desc {
    font-size: 14px;
    line-height: 1.6
}

#searchResult .item .tags {
    font-size: 14px;
    line-height: 1.8
}

#searchResult .item .title a {
    font-size: 16px;
    text-decoration: underline
}

#searchResult .item .tags a {
    color: #666;
    margin-right: 12px
}

#searchResult .item .title b,
#searchResult .item .desc b {
    color: #C00;
    font-weight: 400
}

#searchResult .item .title .type {
    background-color: #eee;
    border-radius: 3px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-right: 8px;
    padding: 0 5px
}

@media screen and (max-width:768px) {
    #header {
        display: block;
        -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        -webkit-transition: all .2s cubic-bezier(.4, .01, .165, .99);
        transition: all .2s cubic-bezier(.4, .01, .165, .99)
    }
}

@media screen and (max-width:768px) {
    #sidebar {
        -webkit-transition: -webkit-transform .2s cubic-bezier(.4, .01, .165, .99);
        transition: transform .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
    }
    #sidebar.behavior_1 {
        -webkit-transform: translate3D(-250px, 0, 0);
        -ms-transform: translate3D(-250px, 0, 0);
        transform: translate3D(-250px, 0, 0)
    }
    #sidebar.behavior_2 {
        -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
    #sidebar .profile {
        padding-top: 20px;
        padding-bottom: 20px
    }
    #sidebar .profile a,
    #sidebar .profile img {
        border-radius: 100px;
        height: 100px;
        width: 100px
    }
    #sidebar .profile span {
        display: none
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #sidebar {
        width: 75px
    }
    #sidebar .profile {
        padding-top: 20px
    }
    #sidebar .profile a,
    #sidebar .profile img {
        border-radius: 40px;
        height: 40px;
        width: 40px
    }
    #sidebar .profile span {
        display: none
    }
    #sidebar .buttons li a {
        padding: 0
    }
    #sidebar .buttons li a i {
        display: block;
        font-size: 18px;
        margin: 0 auto
    }
    #sidebar .buttons li a span {
        display: none
    }
    #sidebar .buttons li a.inline {
        width: 100%
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #main {
        padding-left: 115px
    }
}

@media screen and (max-width:769px) {
    #main {
        min-height: 100%;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%
    }
}

@media screen and (max-width:769px) {
    article {
        background-color: #fff;
        padding: 10px
    }
    article h1 {
        font-size: 22px;
        margin: 0;
        padding: 5px 0 10px
    }
    article .meta {
        display: none
    }
    article .desc {
        color: #999;
        font-size: 14px
    }
    article p.more {
        font-size: 14px;
        margin: 5px 0
    }
}