body {
    color: #666;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4, .01, .165, .99);
    transition: transform .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
}

body,
html {
    height: 100%;
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0
}

a,
a:hover {
    color: #2479CC;
    text-decoration: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul,
ol {
    padding: 0
}

body.side {
    position: fixed;
    -webkit-transform: translate3D(250px, 0, 0);
    -ms-transform: translate3D(250px, 0, 0);
    transform: translate3D(250px, 0, 0)
}

h1.intro {
    background-color: #f6f9fa;
    color: #999;
    padding: 20px 30px;
    text-align: center
}

#main {
    background-color: #fff;
    max-width: 1390px;
    -webkit-overflow-scrolling: touch;
    padding-left: 290px;
    padding-right: 40px
}