.pagination {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 100%
}

.pagination .prev {
    float: left
}

.pagination .next {
    float: right
}

.pagination .center {
    margin: auto;
    text-align: center;
    width: 80px
}