#searchResult {
    min-height: 350px;
    overflow-x: hidden
}

#search form {
    position: relative
}

#search .wrapper {
    margin-right: 72px
}

#search .submit {
    -webkit-appearance: none;
    background-color: #e7e7e7;
    border: 1px solid #bbb;
    border-left: 0;
    border-radius: 0;
    color: #222;
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px
}

#searchResult .info {
    border-bottom: 1px solid #e9e9e9;
    color: #676767;
    font-size: 13px;
    padding: 15px 0
}

#searchResult .no-result {
    background-color: #fff4c2;
    border: 1px solid #fc3;
    font-size: 13px;
    margin: 15px 0;
    padding: 5px
}

#searchResult .loading,
#searchResult .hot-words {
    margin-top: 20px
}

#searchResult .item {
    padding: .5em 0 .3em
}

#search .wrapper input {
    -webkit-appearance: none;
    border: 1px solid #bbb;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 4px 6px;
    width: 100%
}

#searchResult .hot-words a {
    margin-right: 20px
}

#searchResult .item .desc {
    font-size: 14px;
    line-height: 1.6
}

#searchResult .item .tags {
    font-size: 14px;
    line-height: 1.8
}

#searchResult .item .title a {
    font-size: 16px;
    text-decoration: underline
}

#searchResult .item .tags a {
    color: #666;
    margin-right: 12px
}

#searchResult .item .title b,
#searchResult .item .desc b {
    color: #C00;
    font-weight: 400
}

#searchResult .item .title .type {
    background-color: #eee;
    border-radius: 3px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-right: 8px;
    padding: 0 5px
}