@media screen and (max-width:768px) {
    #header {
        display: block;
        -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        -webkit-transition: all .2s cubic-bezier(.4, .01, .165, .99);
        transition: all .2s cubic-bezier(.4, .01, .165, .99)
    }
}

@media screen and (max-width:768px) {
    #sidebar {
        -webkit-transition: -webkit-transform .2s cubic-bezier(.4, .01, .165, .99);
        transition: transform .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
    }
    #sidebar.behavior_1 {
        -webkit-transform: translate3D(-250px, 0, 0);
        -ms-transform: translate3D(-250px, 0, 0);
        transform: translate3D(-250px, 0, 0)
    }
    #sidebar.behavior_2 {
        -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
    #sidebar .profile {
        padding-top: 20px;
        padding-bottom: 20px
    }
    #sidebar .profile a,
    #sidebar .profile img {
        border-radius: 100px;
        height: 100px;
        width: 100px
    }
    #sidebar .profile span {
        display: none
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #sidebar {
        width: 75px
    }
    #sidebar .profile {
        padding-top: 20px
    }
    #sidebar .profile a,
    #sidebar .profile img {
        border-radius: 40px;
        height: 40px;
        width: 40px
    }
    #sidebar .profile span {
        display: none
    }
    #sidebar .buttons li a {
        padding: 0
    }
    #sidebar .buttons li a i {
        display: block;
        font-size: 18px;
        margin: 0 auto
    }
    #sidebar .buttons li a span {
        display: none
    }
    #sidebar .buttons li a.inline {
        width: 100%
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #main {
        padding-left: 115px
    }
}

@media screen and (max-width:769px) {
    #main {
        min-height: 100%;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%
    }
}

@media screen and (max-width:769px) {
    article {
        background-color: #fff;
        padding: 10px
    }
    article h1 {
        font-size: 22px;
        margin: 0;
        padding: 5px 0 10px
    }
    article .meta {
        display: none
    }
    article .desc {
        color: #999;
        font-size: 14px
    }
    article p.more {
        font-size: 14px;
        margin: 5px 0
    }
}